.DS_Store
.build/
.swiftpm/
package/.build/
package/.swiftpm/
build/*
!build/.gitkeep
skill/motioneyes-visual-analysis/.venv/

# Xcode
DerivedData/
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Xcode user data
xcuserdata/
*.xcworkspace/xcuserdata/

# SwiftPM local config
Package.resolved
